.bookItem {
  display: grid;
  grid-template-columns: 0.75fr 0.75fr 1fr 1.5fr 0.5fr;
  padding: 10px 0 10px 10px;

  &:nth-of-type(2n-1) {
    background-color: #bbb;
  }
}

.bookDate {
  width: 100px;
  text-align: center;
  margin-right: 20px;
}

.bookAvailability {
  width: 100px;
  text-align: center;
}

.bookBtns {
  display: flex;
  justify-content: center;
}

.btn {
  width: 100px;
  margin: 0 10px;
  border-radius: 10px;
  border: 2px solid rgba(#000000, 0.5);
  background-color: rgba(#fff, 1);
  cursor: pointer;

  &:focus,
  &:hover {
    border: 2px solid rgba(#000000, 0.8);
    background-color: rgba(#fff, 0.1);
  }

}